doctype html
html(lang='en')
  head
    title| Geekingfrog
    link(rel='shortcut icon' type='image/png' href='favicon.png')
    link(rel='stylesheet' href='/material.css')
    link(rel='stylesheet' href='/geekingfrog.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' type='text/css')
    script(src='/material.js')
    != LRScript
    meta(name='viewport', content='width=device-width', initial-scale=1)

  body
    div(class='mdl-layout mdl-layout--fixed-header')
      header(class='mdl-layout__header-row')
        span(class='mdl-layout-title') Geekingfrog &nbsp;|&nbsp; Geek stuff by a batrachian
        div(class='mdl-layout-spacer')
        nav(class='mdl-navigation')
          a(class='mdl-navigation__link' href='https://github.com/geekingfrog') Github
          a(class='mdl-navigation__link' href='https://www.linkedin.com/pub/gr%C3%A9goire-charvet/aa/440/b62') LinkedIn
          a(class='mdl-navigation__link' href='http://blog.geekingfrog.com') Blog

    div(class='mdl-grid')

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet first-row-card')
        div(class='mdl-card mdl-shadow--2dp')
          div(class='mdl-card__title')
            p I'm a #[a(href="http://www.laurencegellert.com/2012/08/what-is-a-full-stack-developer/") Full stack] engineer, currently working at #[a(href="opensignal.com") Opensignal].
          div(class='mdl-card--border mdl-card__actions')
            p
              | I've built various
              strong  backend applications
              |  ranging from apis
              | to real time notifications services for clients in various countries.
              | I'm also experienced building
              strong  large single page
              |  application in javascript.

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet first-row-card')
        div(class='mdl-card mdl-shadow--2dp intro-card')
          include ../public/logo-clean.svg
          // img(src='/logo-clean2.svg')
      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet first-row-card')
        div(class='mdl-card mdl-shadow--2dp')
          div(class='mdl-card__title city-card')
          div(class='mdl-card__supporting-text')
            h5 Living in London

    div(class='mdl-grid')

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet language-card language-card__python')
        div(class='mdl-card mdl-shadow--2dp')
          div(class='mdl-card__title mdl-card--expand')
            h3 Python
          div(class='mdl-card__supporting-text')
            | &#9733;&#9733;&#9733;&#9733; advanced
            div
              | api and map backend.

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet language-card language-card__js')
        div(class='mdl-card mdl-shadow--2dp')
          div(class='mdl-card__title mdl-card--expand')
            h3 Javascript
          div(class='mdl-card__supporting-text')
            | &#9733;&#9733;&#9733;&#9733;&#9733; expert
            div
              | Browser and node.js alike, very strong knowledge.

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet language-card language-card__haskell')
        div(class='mdl-card mdl-shadow--2dp')
          div(class='mdl-card__title mdl-card--expand')
            h3 Haskell
          div(class='mdl-card__supporting-text')
            | &#9733; enthusiast
            div
              | Learning and building expertise on the side.


    div(class='mdl-grid')
      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet')
        div(class='mdl-card mdl-shadow--2dp english-card')
          div(class='mdl-card__title mdl-card--expand')
          div(class='mdl-card__supporting-text')
            div
              | English: &nbsp;
              strong Fluent

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet')
        div(class='mdl-card mdl-shadow--2dp french-card')
          div(class='mdl-card__title mdl-card--expand')
          div(class='mdl-card__supporting-text')
            div
              | French: &nbsp;
              strong Native

      div(class='mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet')
        div(class='mdl-card mdl-shadow--2dp chinese-card')
          div(class='mdl-card__title mdl-card--expand')
          div(class='mdl-card__supporting-text')
            div
              | Chinese: &nbsp;
              strong Advanced

    script(src='/geekingfrog.js')
