@mixin hexagon($side: 100px, $bgcol: red){
  /* 1.732 = sqrt(3) */
  width: $side;
  height: 1.732*$side;
  position: relative;
  background-color: $bgcol;
  display: inline-block;
  margin: 0 $side;
  padding: 0;

  &:before, &:after {
    content: "";
    width: $side;
    height: 1.732/2*$side;
    position: absolute;
    background-color: $bgcol;
    z-index: -1;
    -moz-transform: rotate(60deg) skew(30deg);
    -webkit-transform: rotate(60deg) skew(30deg);
    transform: rotate(60deg) skew(30deg);
  }

  &:before {
    right: $side/2;
    top: 1.732/4*$side;
  }

  &:after {
    left: $side/2;
    top: 1.732/4*$side;
  }

}
