@import "./hexagon.scss";

$bg-color: rgb(31, 33, 32);

body {
  font-family: verdana, arial, sans-serif;
  background: $bg-color;
  padding: 0;
  margin: 1em;
  color: $bg-color;
}

a {
  text-decoration:none;
  color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.invisible { visibility: hidden !important; }

.container {
  width: 800px;
  margin: 0 auto;
}

$hexSide: 110px;

.hexagon {
  @include hexagon($hexSide, #0cc);
  &:before, &:after, & {
    background: lighten(rgb(46, 204, 113), 10%);
  }
}

.hexa-row {
  text-align: center;
  padding-bottom: $hexSide/25;
}

.hexa-row.third {
  margin-top: -$hexSide+$hexSide/9;
}

.text {
  z-index: 10;
  display: block;
  width: $hexSide*2;
  text-align: center;

  position: absolute;
  top: $hexSide/2;
  left: -$hexSide/4;

  width: $hexSide*1.5;
  height: $hexSide;

  margin-bottom: 1em;
  overflow: hidden;

  transition: top 1s;
}

.legend {
  margin: 0;
  margin-top: $hexSide/2;
  display: block;
  transition: margin-top .7s;
}

.text:hover {
  .legend {
    margin-top: 0;
  }
}

.hexagon.main .text {
  overflow: visible;
}

.hexagon.main .logo {
  position: absolute;
  left: -$hexSide/2;
  width: $hexSide*2;
  height: $hexSide*2;
  z-index: 5;
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-size: $hexSide*1.2 $hexSide*1.2;
  background-position: $hexSide/2/1.2 $hexSide/3;
}

