<style type="text/css">
@font-face{
  font-family: 'Fira Sans';
  src: url('/static/font/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'),     url('/static/font/FiraSans-Regular.eot') format('embedded-opentype'),     url('/static/font/FiraSans-Regular.woff') format('woff'),     url('/static/font/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('/static/font/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), url('/static/font/FiraSans-Bold.eot') format('embedded-opentype'),   url('/static/font/FiraSans-Bold.woff') format('woff'), url('/static/font/FiraSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
</style>
