<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <script src="/static/autorefresh.js" async></script>
    <title>Geekingfrog &#x2212; Geek stuff by a batrachian</title>
  </head>
  <body class="home">
    <header>
      <div class="container header-container">
        <div class="logo">
          <a href="/">
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 465.89471 465.89471">
              <circle id="circle" cx="233" cy="233" r="226" fill="none" stroke-width="10"/>
              <path id="body1" fill="none" stroke-width="20" d="M 47.276126,346.87203 C 106.30443,287.84374 255.91,283.80794 256.39227,345.10224 c 0.48031,61.04412 -144.74446,66.14146 -209.116144,1.76979 0,-121.74214 137.728274,-208.37569 303.000734,-183.4217"/>
              <path id="body2" fill="none" stroke-width="20" d="m 400.95526,179.4456 c 91.43028,35.80764 10.47281,78.64939 -43.90816,120.56398 -36.55661,28.17631 -29.92198,49.76327 16.06177,106.05151"/>
              <circle id="eye" fill="none" cx="376.77936" cy="169.57791" r="21.000422" stroke-width="20"/>
            </svg>
          </a>
        </div>
        <nav>
          <ul class="nav-links">
            <li class="nav-link nav-link__active">
              <a href="/">HOME</a>
            </li>
            <li class="nav-link">
              <a href="/blog">BLOG</a>
            </li>
            <li class="nav-link">
              <a href="/gpg">GPG*</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="container hero-container">
        <h1 class="main-title main-title__huge">The Geekingfrog</h1>
      </div>
    </section>
    <section class="container content">
      <div class="misc">
        <h2>About me</h2>
        <p>I'm Greg, polyglot backend &amp; cloud developer.</p>
        <ul class="misc-list">
          <li class="misc-item">
            <b>I'm from</b>
            <span> France</span>
          </li>
          <li class="misc-item">
            <b>I currently work </b>
            <span> in the UK</span>
          </li>
          <p>In 10+ years, I've built various applications for different business and scales  (from a few views per days to millions of requests per hour).</p>
          <p>I've also managed and automated the deployement and monitoring of these service on AWS.</p>
          <p>On the front end, I've translated designer vision into beautiful websites, as  well as complex single page application in ember and react.</p>
        </ul>
      </div>
      <div class="post">
        <h2>Blog</h2>
        <p>Some brain dumps about various things, mostly coding, programming languages and open source projects. Here are the most recent posts.</p>
        <ul class="posts-overview posts-overview__index">
          <li class="posts-overview--item">
            <a href="/blog/post/clojure-context-logging">
              <span class="date">06/2022</span>
              <span class="right">
                <span class="blog-title">Contextual logging in clojure with timbre</span>
                <span class="blog-tags">#clojure, #logging</span>
              </span>
            </a>
          </li>
          <li class="posts-overview--item">
            <a href="/blog/post/terminal-basics">
              <span class="date">01/2022</span>
              <span class="right">
                <span class="blog-title">Terminal basics</span>
                <span class="blog-tags">#linux, #shell</span>
              </span>
            </a>
          </li>
          <li class="posts-overview--item">
            <a href="/blog/post/advent-of-code-2021-1s">
              <span class="date">01/2022</span>
              <span class="right">
                <span class="blog-title">Advent of code 2021 under 1 second</span>
                <span class="blog-tags">#rust</span>
              </span>
            </a>
          </li>
          <li class="posts-overview--item">
            <a href="/blog/post/pihole-dropping-dns-requests">
              <span class="date">09/2021</span>
              <span class="right">
                <span class="blog-title">Investigating dropped DNS requests with pi-hole</span>
                <span class="blog-tags">#networking</span>
              </span>
            </a>
          </li>
          <li class="posts-overview--item">
            <a href="/blog/post/leaddev-conference">
              <span class="date">09/2021</span>
              <span class="right">
                <span class="blog-title">Leaddev virtual conference</span>
                <span class="blog-tags">#conference, #career</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="panel panel-bio">
          <h2>HELLO!</h2>
          <p>My name is Greg. I'm a senior software engineer with deep experience in cloud and distributed systems applications.</p>
          <p>I have designed, built and deployed in the cloud many kind of APIs and processing pipelines for various industries.</p>
        </div>
        <div class="panel">
          <h2>GET IN TOUCH</h2>
          <p>On <a href="https://www.linkedin.com/in/gr%C3%A9goire-charvet-b62440aa">linkedin</a> or at greg&#xFF20;geekingfrog&#x2024;com <a href="http://lea.verou.me/2009/11/yet-another-email-hiding-technique/">(don't copy paste this email.</a>)</p>
        </div>
        <div class="panel">
          <a href="/rss">
            <h2>SUBSCRIBE</h2>
          </a>
          <p>RSS is love &#x2665;</p>
        </div>
      </div>
    </footer>
  </body>
</html>
