{# vim: set ft=jinja #}
{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block homeclass %}
class="home"
{% endblock %}

{% block sections %}

<section class="hero">
  <div class="container hero-container">
    <h1 class="main-title main-title__huge">The Geekingfrog</h1>
  </div>
</section>
<section class="container content">
  <div class="misc">
    <h2>About me</h2>
    <p>I'm Greg, random nerd on the internet</p>
    <ul class="misc-list">
      <li class="misc-item">
        Through no fault of my own I am French.
      </li>
      <li class="misc-item">
        My weary bones are ususally in the UK.
      </li>
    </ul>

      <p>In case you’re a human being that actually reads here are a few things that I find interesting. Don’t hesitate to contact me to talk about any of that if you fancy.</p>

    <ul class="misc-list">
      <li class="misc-item">Figure skating. While not being terribly good at it, I do enjoy that and spend 8+ hours a week on ice.</li>
      <li class="misc-item">Programming languages in general, especially the non mainstream ones like clojure, haskell, elixir or god knows what.</li>
      <li class="misc-item">Fiction books. Some favorites of mine are the expanse from James SA Corey, most cosmere books from Brandon Sanderson and the gentlemen bastards from Scott Lynch.</li>
      <li class="misc-item">I alternate fiction with political books, one I did very much like to give you an idea is The global perspective by Torkil Lauesen.</li>
      <li class="misc-item">Video games, I stay away from AAA generally. Some favourites are hollow knight, factorio and portal. I also contribute to the middleware server for a free rts game: Beyond All Reason</li>
    </ul>
  </div>
  <div class="posts">
    <h2>Blog</h2>
    <p>Some brain dumps about various things, mostly coding, programming languages and open source projects. Here are the most recent posts.</p>
    <ul class="posts-overview posts-overview__index">
      {% for post_header in top_posts_headers %}
        {{ macros::post_header(post=post_header) }}
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
