{# vim: set ft=jinja #}
{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block homeclass %}
class="home"
{% endblock %}

{% block sections %}

<section class="hero">
  <div class="container hero-container">
    <h1 class="main-title main-title__huge">Geekin'frog</h1>
  </div>
</section>
<section class="container content">
  <div class="misc">
    <h2>About me</h2>
    <p>I'm Greg, polyglot backend & cloud developer. I can help you build custom solutions in all things web, bringing experience, reliability and agile processes.</p>
    <ul class="misc-list">
      <li class="misc-item">
        <b>I currently work </b>
        <span> in the UK</span>
      </li>
      <li class="misc-item">
        <b>10+ years</b>
        <span> of experience</span>
      </li>
      <li class="misc-item">
        <span>Focused on </span>
        <b>python</b>
        <span> & </span>
        <b>clojure</b>
        <span> and </span>
        <b>cloud applications</b>
      </li>

      <p>Experienced with many storage technology like MySQL, PostgreSQL, DynamoDB, event based architecture (event sourcing, pub/sub with sns/sqs), and serverless (aws lambda)</p>

      <p>I've built various applications for different business and scales (from a few views per days to millions of requests per hour).</p>

      <p>I've also managed and automated the deployement and monitoring of these service on AWS.</p>

      <p>Here's my <a href="/static/vrac/SeniorEngineer.pdf">resume</a>.</p>

    </ul>
  </div>
  <div class="posts">
    <h2>Personal Blog</h2>
    <p>Some brain dumps about various things, mostly coding, programming languages and open source projects. Here are the most recent posts.</p>
    <ul class="posts-overview posts-overview__index">
      {% for post_header in top_posts_headers %}
        {{ macros::post_header(post=post_header) }}
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
